body {
    background-color: #151515;
}

html,body { height: 95%; }

.editor {
    width: 80%;
    display: inline-block;
}

.peer-panel-wrapper {
    width: 20%;
    padding-left: 3px;
    position: relative;
    background: linear-gradient(180deg,#6ee2e2,#5a8bff);
    margin: 0;
    display: grid;
    place-items: center;
}

.peer-panel {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #151515;
}

li {
    color: white;
}

.editor-container {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 95%;
}

textarea{
    width: 100%;
}

.cm-s-base16-dark.CodeMirror {
    width: 100%;
    height: 100%;
}

input[type="file"] {
    display: none;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.control-panel {
    display: inline-block;
}

.demo-buttons {
    text-align: center;
    display: inline-block;
}

#peer-id {
    margin: auto;
    color: white;
    font-size: 14pt;
    font-family:'Roboto',sans-serif;
    font-weight:500;
}

.connection {
    height: 24px;
    width: 24px;
    background-color: #00bb00;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    font-family:'Roboto',sans-serif;
    font-weight:700;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.a {
    font-family:'Roboto',sans-serif;
    font-weight:300;
}

.round-button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
.round-button:hover{
    border-color: rgb(12, 0, 0);
}
@media all and (max-width:30em){
    .round-button{
        display:block;
        margin:0.2em auto;
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
    animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}